@tailwind base;
@tailwind components;
@tailwind utilities;

/* This keeps the layout stable by reserving space for the scrollbar */
html {
    scrollbar-gutter: stable;
}

/* Custom Scrollbar Utility */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 20px;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(71, 85, 105, 0.5);
}